body {
    background: #323232;
    margin: 0;
}

#localVideo {
    transition: width .35s ease;
}

#localVideo.max {
	width: 60%;
}

#localVideo:hover {
	opacity: .01;
}

nav {
    position: fixed;
    top: 0;
    left: -3.75rem;
    z-index: 20;
}

nav:hover {
    left: 0;
}

nav > * {
    display: block;
    width: 4rem;
    margin-bottom: 5px;
    height: 1.75rem;
    font-size: 1.2rem;
}

nav > button {
    border: 1px solid #888;
    background-color: #eee;
}

.on {
    background-color: lime !important;
}

.fa {
    background-color: yellow !important;
}

.bl {
    text-decoration: line-through;
    background-color: #444 !important;
}

#hud {
    position: fixed;
    top: 0;
    left: 5rem;
    max-width: 35rem;
    opacity: .45;
    background-color: #fff;
    overflow: hidden;
    max-height: 2.5rem;
    padding: .15rem;
    z-index: 10000;
    font-size: small;
}

#hud:hover {
    opacity: 1;
    overflow: auto;
    max-height: 8rem;
}

.fila {
    padding: .15rem;
    cursor: pointer;
    border-left: 7px solid #333;
}

.fila:hover {
    padding-left: .5rem;
}

.fila:nth-child(2n) {
    background-color: #bbb;
}

.fila > * {
    padding-right: .35rem;
}

.fila > a:hover {
    background-color: blue;
    color: #fff;
}

.fila.gF { border-color: violet; }
.fila.gC { border-color: cyan; }

.vi::before {
    content: '>';
    margin-right: .5rem;
}

.sa::before {
    content: 'X';
}

#contador {
    background-color: #bbb;
    text-align: center;
}

.p1 { background-color: yellowgreen; }
.p2 { background-color: darksalmon; }
.p3 { background-color: firebrick; }
