body {
    background: #323232;
}

#localVideo {
    transition: width .35s ease;
}

#localVideo.max {
	width: 60%;
}

#localVideo:hover {
	opacity: .01;
}

nav {
    position: fixed;
    top: 0;
    z-index: 20;
}

nav > * {
    display: block;
}